* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #99627A;
    color: black ;
}

header {
    border: 4px solid #C88EA7;
    text-align: center;
}

main {
    height: 50vh;
    width: 100vw;
    background-color: #E7CBCB;
}

section {
    border: 4px solid #C88EA7;
}

h1 {
    color: black;
}

h2 {
    color: black;
    border: 4px solid pink;
    border-radius: 12px;
}

#welcome-page {
    text-align: center;
}

#start {
  margin:auto;
  padding:10px;
  width: 100px;
  border-color: #E7CBCB;
  border-radius: 12px;
  


}

form {
    border: 4px solid #643843;
    background-color: #ffff;
}

#answer {
    font-size: 30px;
}

ul button {
    display: block;
    padding:10px;
    width: 100px;
    border-color: black;
    border-radius: 12px;
    background-color: pink;

}
.finished-quiz {
    display:none;
    
}

input {
    font-weight: bold;
}

::placeholder {
    color: black;
}